@value boxSize, boxBorderRadius, tabletSize, boxBorder, boxHeight, boxMaxWidth, boxMinWidth, boxMargin, scrollBorderRadius, scrollBarSize from '../../common/sizes.css';
@value scrollThumbColor, scrollThumbHoverColor, scrollTrackColor from '../../common/colors.css';

.container {
  position: relative;
  max-width: boxMaxWidth;
  min-width: boxMinWidth;
  width: boxSize;
  height: boxHeight;
}

.box {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: boxBorder;
  border-radius: boxBorderRadius;
  resize: none;
}

.eraser_btn {
  top: 10px;
  right: 10px;
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background: white;
  cursor: pointer;
  transition: transform 300ms;
  fill: gray;
}

.eraser_btn:hover {
  fill: black;
}

.eraser_btn > img {
  width: 100%;
  height: 100%;
}

/* scroll bar */

.box::-webkit-scrollbar {
  width: scrollBarSize;
  height: scrollBarSize;
}

.box::-webkit-scrollbar-thumb {
  height: 17%;
  background: scrollThumbColor;
  border-radius: scrollBorderRadius;
}

.box::-webkit-scrollbar-thumb:hover {
  background: scrollThumbHoverColor;
}

.box::-webkit-scrollbar-track {
  background: scrollTrackColor;
  border-radius: scrollBorderRadius;
}

@media screen and (max-width: tabletSize) {
  .container {
    margin: boxMargin;
    width: 100%;
  }
}
