@value boxMinWidth, boxMaxWidth, btnBorderRadius, tabletSize from '../../common/sizes.css';
@value btnHoverColor from '../../common/colors.css';

.container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: boxMinWidth;
  max-width: boxMaxWidth;
}

form > input[type="file"] {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid btnHoverColor;
  border-radius: btnBorderRadius;
  background: white;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background: btnHoverColor;
}

.button img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.button svg {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.dropdown_container {
  padding: 0;
}

.dropdown_container:hover {
  background: white;
}

.dropdown_btn {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: transparent;
  z-index: 1;
}

.inner_container {
  top: 100%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.inner_container > button {
  font-family: none;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid btnHoverColor;
  border-radius: 5px;
  background: white;
  font-size: 1rem;
  cursor: pointer;
}

.inner_container > button:hover {
  background: btnHoverColor;
}

@media screen and (max-width: tabletSize) {
  .container {
    margin: 50px 0 80px 0;
    width: 90%;
  }
}
