.output_box {
  padding: 10px;
  width: 45%;
  min-width: 450px;
  max-width: 600px;
  height: 500px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: white;
}

/* markdown css nested 적용예정. */

.output_box > *:first-child {
  margin-top: 0;
}

.output_box > *:last-child {
  margin-bottom: 0;
}

/* heading border-bottom */

.output_box h1,
.output_box h2,
.output_box h3,
.output_box h4,
.output_box h5,
.output_box h6 {
  margin: 24px 0 16px 0;
}

.output_box h1,
.output_box h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #d8dee4;
}

.output_box blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.output_box code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

.output_box a {
  color: #0969da;
  text-decoration: none;
}

.output_box ul,
.output_box ol {
  padding-left: 32px;
}

.output_box pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.output_box pre code {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  overflow: visible;
}

.output_box sup {
  font-size: 75%;
  top: -0.5em;
  position: absolute;
}

.output_box sup::before {
  content: "[";
}

.output_box sup::after {
  content: "]";
}

.output_box a[class="footnote-ref"] {
  position: relative;
}

/* table */
.output_box table {
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

.output_box table tr {
  background-color: #ffffff;
  border-top: 1px solid #d8dee4;
}

.output_box table tr:nth-child(even) {
  background-color: #f6f8fa;
}

.output_box table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.output_box table th {
  border: 1px solid #d0d7de;
  padding: 6px 13px;
  font-weight: 600;
}

.output_box hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

/* task list */

.output_box ul[class="contains-task-list"] {
  list-style: none;
  padding-left: 0;
}

/* footnotes */
section[class="footnotes"] {
  border-top: 1px solid #d8dee4;
  font-size: 12px;
  color: #57606a;
}

section[class="footnotes"] > hr {
  display: none;
}

section[class="footnotes"] ol {
  margin: 0;
  padding-left: 16px;
}

section[class="footnotes"] ol > li {
  margin: 16px 0;
}

/* scroll bar */

.output_box::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.output_box::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #90a4ae;
  border-radius: 10px;
}

.output_box::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.output_box::-webkit-scrollbar-track {
  background: #cfd8dc;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .output_box {
    margin: 0 auto 50px auto;
    width: 100%;
  }
}
