@value boxSize, boxBorderRadius, tabletSize, boxBorder, boxHeight, boxMaxWidth, boxMinWidth, boxMargin, scrollBarSize, scrollBorderRadius from '../../common/sizes.css';
@value scrollThumbColor, scrollThumbHoverColor, scrollTrackColor, lineBlueColor, codeBlockBgColor, mainColor, linkColor, codeBgColor, codeBlockTextColor from '../../common/colors.css';

.box {
  padding: 10px;
  width: boxSize;
  min-width: boxMinWidth;
  max-width: boxMaxWidth;
  height: boxHeight;
  overflow-y: auto;
  border: boxBorder;
  border-radius: boxBorderRadius;
  background-color: white;
}

.box > *:first-child {
  margin-top: 0;
}

.box > *:last-child {
  margin-bottom: 0;
}

/* heading border-bottom */

.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
  margin: 24px 0 16px 0;
}

.box h1,
.box h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #d8dee4;
}

.box blockquote {
  margin: 0;
  padding: 0 1em;
  color: codeBlockTextColor;
  border-left: 0.25em solid lineBlueColor;
}

.box code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: codeBgColor;
  border-radius: 6px;
}

.box a {
  color: linkColor;
  text-decoration: none;
}

.box ul,
.box ol {
  padding-left: 32px;
}

.box pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: mainColor;
  border-radius: 6px;
}

.box pre code {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  overflow: visible;
}

.box sup {
  font-size: 75%;
  top: -0.5em;
  position: absolute;
}

.box sup::before {
  content: "[";
}

.box sup::after {
  content: "]";
}

.box a[class="footnote-ref"] {
  position: relative;
}

/* table */
.box table {
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

.box table tr {
  background-color: #ffffff;
  border-top: 1px solid #d8dee4;
}

.box table tr:nth-child(even) {
  background-color: codeBlockBgColor;
}

.box table td {
  padding: 6px 13px;
  border: 1px solid lineBlueColor;
}

.box table th {
  border: 1px solid lineBlueColor;
  padding: 6px 13px;
  font-weight: 600;
}

.box hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: lineBlueColor;
  border: 0;
}

/* task list */

.box ul[class="contains-task-list"] {
  list-style: none;
  padding-left: 0;
}

/* footnotes */
section[class="footnotes"] {
  border-top: 1px solid #d8dee4;
  font-size: 12px;
  color: #57606a;
}

section[class="footnotes"] > hr {
  display: none;
}

section[class="footnotes"] ol {
  margin: 0;
  padding-left: 16px;
}

section[class="footnotes"] ol > li {
  margin: 16px 0;
}

/* scroll bar */

.box::-webkit-scrollbar {
  width: scrollBarSize;
  height: scrollBarSize;
}

.box::-webkit-scrollbar-thumb {
  height: 17%;
  background: scrollThumbColor;
  border-radius: scrollBorderRadius;
}

.box::-webkit-scrollbar-thumb:hover {
  background: scrollThumbHoverColor;
}

.box::-webkit-scrollbar-track {
  background: scrollTrackColor;
  border-radius: scrollBorderRadius;
}

@media screen and (max-width: tabletSize) {
  .box {
    margin: boxMargin;
    width: 100%;
  }
}
