@use "./common/colors";
@use "./common/sizes";
@use "./common/mixins";

.container {
  margin: auto;
  padding: 0 20px 20px 20px;
  position: absolute;
  width: sizes.$sectionWidth;
  height: 100%;
  flex: 1 1;
  border-left: 1px solid colors.$mainColor;
  background-color: colors.$cheatsheetColor;
  z-index: 1;
  overflow-y: auto;
}

.header {
  text-align: center;
}

.body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .content {
    flex-basis: 48%;
  }
}

// Scroll Bar
.container {
  &::-webkit-scrollbar {
    @include mixins.scrollbar
  }

  &::-webkit-scrollbar-thumb {
    @include mixins.scrollbar-thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    @include mixins.scrollbar-thumb-hover
  }

  &::-webkit-scrollbar-track {
    @include mixins.scrollbar-track
  }
}

@include mixins.tablet {
  .sheet_container {
    width: 90%;
  }
}

@media screen and (max-width: 1120px) {
  .body {
    display: block;
  }
}