@use "./common/colors";
@use "./common/sizes";
@use "./common/mixins";

.container {
  @include mixins.scrollbar-props;
  margin: auto;
  padding: 0 sizes.$odd-space-4x sizes.$odd-space-4x sizes.$odd-space-4x;
  position: absolute;
  width: sizes.$section-width;
  height: 100%;
  flex: 1 1;
  border-left: 1px solid colors.$main-color;
  background-color: colors.$cheatsheet-main-color;
  z-index: 1;
  overflow-y: auto;
}

.header {
  text-align: center;
}

.body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .content {
    flex-basis: 48%;
  }
}

@include mixins.tablet {
  .sheet_container {
    width: 90%;
  }
}

@media screen and (max-width: 1120px) {
  .body {
    display: block;
  }
}