@use "./common/colors";
@use "./common/sizes";
@use "./common/mixins";

.container {
  margin: auto;
  padding: 0 20px 20px 20px;
  position: absolute;
  width: sectionWidth;
  height: 100%;
  flex: 1 1;
  border-left: 1px solid colors.$mainColor;
  background-color: colors.$cheatsheetColor;
  z-index: 1;
  overflow-y: auto;
}

.header {
  text-align: center;
}

.body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sheet_container {
  width: 45%;
}

.sheet {
  @include mixins.markdown;
  width: 100%;
  
  & table {
    width: 100%;

    & td {
      padding: 10px 15px;
    }

    & h1,h2 {
      border: 0;
    }
  
    & h1, h2, h3, h4, h5, h6, ul, ol {
      margin: 0;
    }
  }

  & > p {
    font-size: 1.3rem;
  }

  & .task_list {
    list-style: none;
  }
}

// Scroll Bar
.container {
  &::-webkit-scrollbar {
    @include mixins.scrollbar
  }

  &::-webkit-scrollbar-thumb {
    @include mixins.scrollbar-thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    @include mixins.scrollbar-thumb-hover
  }

  &::-webkit-scrollbar-track {
    @include mixins.scrollbar-track
  }
}

// Media Query
@include mixins.tablet {
  .sheet_container {
    width: 90%;
  }
}
