@use "./common/colors";
@use "./common/sizes";

footer {
  flex-shrink: 0;
  display: flex;
  height: sizes.$footerHeight;
  border-top: 1px solid colors.$codeBlockBgColor;
  background-color: colors.$mainDarkColor;
  color: white;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: sizes.$sectionWidth;
  height: 100%;
}

.link_btn > svg {
  width: 32px;
  fill: gray;
}

.link_btn:hover > svg {
  fill: white;
}

.text {
  display: flex;
  flex-wrap: wrap;
}

.text > span:first-child {
  margin-right: 10px;
}
