@use "./common/colors";
@use "./common/sizes";

footer {
  flex-shrink: 0;
  display: flex;
  height: sizes.$footer-height;
  border-top: 1px solid colors.$codeblock-bg-color;
  background-color: colors.$main-dark-color;
  color: colors.$white-color;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: sizes.$section-width;
  height: 100%;
}

.link_btn > svg {
  width: sizes.$icon-large-size;
  fill: colors.$gray-color;
}

.link_btn:hover > svg {
  fill: colors.$white-color;
}

.text {
  display: flex;
  flex-wrap: wrap;
}

.text > span:first-child {
  margin-right: sizes.$odd-space-2x;
}
