@use "./common/colors";
@use "./common/sizes";

header {
  flex-shrink: 0;
  height: sizes.$header-height;
  border-bottom: 1px solid colors.$main-color;
  color: white;
  background-color: colors.$main-dark-color;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: sizes.$section-width;
  height: 100%;
}

// Left
.left > .cheatsheet_btn {
  padding: sizes.$odd-space-2x sizes.$odd-space-3x;
  background: transparent;
  border: 1px solid colors.$white-color;
  border-radius: sizes.$btn-border-radius;
  color: colors.$white-color;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    color: colors.$black-color;
    border-color: colors.$black-color;
    background: colors.$cheatsheet-main-color;
  }
}

// Center
.center {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: colors.$white-color;

  & > img {
    margin-right: sizes.$odd-space-2x;
    width: sizes.$btn-image-size;
    height: sizes.$btn-image-size;
  }
  
  & > h1 {
    font-size: 1.4rem;
    font-weight: normal;
  }
}

// Right, darkmode button
.darkmode_btn {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 30px;
  transform: translateY(10px);
}

.darkmode_btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.darkmode_btn .onoff_switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12px;
  background-color: colors.$codeblock-bg-color;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.darkmode_btn .onoff_switch:before {
  position: absolute;
  content: "";
  top: -5px;
  left: 4px;
  height: 22px;
  width: 22px;
  background: #fff center/15px no-repeat url("../assets/sun.png");
  -webkit-transition: 0.5s;
  transition: 0.4s;
  border-radius: 20px;
}

.darkmode_btn input:checked + .onoff_switch {
  background: colors.$darkbtn-color;
  box-shadow: inset 1px 1px 2px #222222;

  &::before {
    background-image: url("../assets/moon.png");
    -webkit-transform: sizes.$darkmode-bar-move;
    -ms-transform: sizes.$darkmode-bar-move;
    transform: sizes.$darkmode-bar-move;
  }
}