@use "./common/colors";
@use "./common/sizes";
@use "./common/mixins";

.box {
  @include mixins.markdown;
  padding: 10px;
  width: sizes.$boxSize;
  min-width: sizes.$boxMinWidth;
  max-width: sizes.$boxMaxWidth;
  height: sizes.$boxHeight;
  overflow-y: auto;
  border: sizes.$boxBorder;
  border-radius: sizes.$boxBorderRadius;
  background-color: white;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

section[class="footnotes"] {
  border-top: 1px solid #d8dee4;
  font-size: 12px;
  color: #57606a;

  & > hr {
    display: none;
  }

  & ol {
    margin: 0;
    padding-left: 16px;

    & > li {
      margin: 16px 0;
      position: relative;
    }
  }
}

:global {
  .clicked-note::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid colors.$linkColor;
    border-radius: 6px;
  }
}

// Scroll bar
.box {
  &::-webkit-scrollbar {
    @include mixins.scrollbar
  }

  &::-webkit-scrollbar-thumb {
    @include mixins.scrollbar-thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    @include mixins.scrollbar-thumb-hover
  }

  &::-webkit-scrollbar-track {
    @include mixins.scrollbar-track
  }
}

// Media Query
@include mixins.tablet {
  .box {
    margin: sizes.$boxMargin;
    width: 100%;
  }
}