@use "./common/colors";
@use "./common/sizes";
@use "./common/mixins";

.box {
  @include mixins.markdown;
  @include mixins.scrollbar-props;
  padding: sizes.$odd-space-2x;
  width: sizes.$box-size;
  min-width: sizes.$box-min-width;
  max-width: sizes.$box-max-width;
  height: sizes.$box-height;
  overflow-y: auto;
  border: sizes.$box-border;
  border-radius: sizes.$box-border-radius;
  background-color: colors.$white-color;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

section[class="footnotes"] {
  border-top: 1px solid colors.$light-blue-color;
  font-size: 0.8rem;
  color: colors.$codeblock-text-color;

  & > hr {
    display: none;
  }

  & ol {
    margin: 0;
    padding-left: sizes.$even-space-4x;

    & > li {
      margin: sizes.$even-space-4x 0;
      position: relative;
    }
  }
}

:global {
  .clicked-note::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid colors.$link-blue-color;
    border-radius: sizes.$default-border-radius;
  }
}

// Media Query
@include mixins.tablet {
  .box {
    margin: sizes.$box-margin;
    width: 100%;
  }
}