@use "./common/mixins";

.sheet {
    @include mixins.markdown;
    width: 100%;
    
    & table {
      width: 100%;

      & tbody > tr > td:nth-child(2) {
        white-space: pre-line;
      }
  
      & td {
        padding: 10px 15px;
      }
  
      & h1,h2 {
        border: 0;
      }
    
      & h1, h2, h3, h4, h5, h6, ul, ol {
        margin: 0;
      }
    }
  
    & > p {
      font-size: 1.3rem;
    }
  
    & .task_list {
      list-style: none;
    }
  }