$main-color: #f6f8fa;
$main-dark-color: #24292f;
$sub-dark-color: #1e1f21;
$link-blue-color: #0969da;
$light-blue-color: #d8dee4;
$btn-hover-color: #a1c1ea;
$darkbtn-color: #007ff4;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #808080;

$arrow-bg-color: #394a6d;

// cheat sheet
$cheatsheet-main-color: #f5f5dc;
$code-bg-color: rgba(175, 184, 193, 0.2);
$codeblock-text-color: #57606a;
$codeblock-bg-color: #f6f8fa;
$line-light-blue-color: #d0d7de;

// scroll
$scroll-thumb-color: #9ea5ae;
$scroll-thumb-hover-color: #5c646e;
$scroll-track-color: #cfd8dc;