$mainColor: #f6f8fa;
$mainDarkColor: #24292f;
$subDarkColor: #1e1f21;
$linkColor: #0969da;

$cheatsheetColor: beige;

$codeBgColor: rgba(175, 184, 193, 0.2);
$codeBlockTextColor: #57606a;
$codeBlockBgColor: #f6f8fa;
$lineBlueColor: #d0d7de;

$btnHoverColor: #a1c1ea;
$darkBtnColor: #007ff4;

$scrollThumbColor: #9ea5ae;
$scrollThumbHoverColor: #5c646e;
$scrollTrackColor: #cfd8dc;
