@use 'sizes';
@use 'colors';

@mixin tablet {
    @media screen and (max-width: sizes.$tablet-size) {
        @content;
    }
}

// markdown
@mixin markdown {
    h1, h2, h3, h4, h5, h6 {
    margin: sizes.$even-space-6x 0 sizes.$even-space-4x 0;
    }

    h1, h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid colors.$light-blue-color;
    }

    blockquote {
        margin: 0;
        padding: 0 1em;
        color: colors.$codeblock-text-color;
        border-left: 0.25em solid colors.$light-blue-color;
    }

    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        background-color: colors.$code-bg-color;
        border-radius: sizes.$default-border-radius;
    }

    a {
        color: colors.$link-blue-color;
        text-decoration: none;

        &[class="footnote-ref"] {
            position: relative;
        }
    }

    ul, ol {
        padding-left: sizes.$even-space-8x;
    }

    ul[class="contains-task-list"] {
        list-style: none;
        padding-left: 0;
    }

    pre {
        padding: sizes.$even-space-4x;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: colors.$main-color;
        border-radius: sizes.$default-border-radius;

        & code {
            margin: 0;
            padding: 0;
            border: 0;
            background: transparent;
            font-size: 100%;
            overflow: visible;
        }
    }

    sup {
        font-size: 75%;
        top: -0.5em;
        position: absolute;

        &::before {
            content: "[";
        }
        
        &::after {
            content: "]";
        }
    }
          
    hr {
        height: 0.25em;
        padding: 0;
        margin: sizes.$even-space-6x 0;
        background-color: colors.$line-light-blue-color;
        border: 0;
    }

    // Table
    table {
        width: max-content;
        max-width: 100%;
        overflow: auto;
        border-collapse: collapse;

        & tr {
            background-color: colors.$white-color;
            border-top: 1px solid colors.$light-blue-color;

            &:nth-child(odd) {
                background-color: colors.$codeblock-bg-color;
            }
        }

        & td {
            padding: 6px 13px;
            border: 1px solid colors.$line-light-blue-color;
        }

        & th {
            border: 1px solid colors.$line-light-blue-color;
            padding: 6px 13px;
            font-weight: 600;
        }
    }
}

// Scroll bar
@mixin scrollbar-props {
    &::-webkit-scrollbar {
        width: sizes.$scroll-bar-size;
        height: sizes.$scroll-bar-size;
    }
    
    &::-webkit-scrollbar-thumb {
        height: 17%;
        background: colors.$scroll-thumb-color;
        border-radius: sizes.$scroll-border-radius;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: colors.$scroll-thumb-hover-color;
    }
    
    &::-webkit-scrollbar-track {
        background: colors.$scroll-track-color;
        border-radius: sizes.$scroll-border-radius;
    }
}

// Arrow
@mixin arrow-close($leftPX, $rotateDeg) {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
    background: colors.$arrow-bg-color;
    left: $leftPX;
    transform: rotate($rotateDeg);
}

@mixin arrow-open($leftPX, $rotateDeg) {
    left: $leftPX;
    transform: rotate($rotateDeg);
}