header {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #24292f;
}

.left {
  display: flex;
  align-items: center;
}

.left > img {
  width: 32px;
  height: 32px;
}

.left > h1 {
  font-size: 16px;
}
