header {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #24292f;
}

.header_container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.left > img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.left > h1 {
  font-size: 22px;
  font-weight: normal;
}

.right > .cheatsheet_btn {
  padding: 10px 15px;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.right > .cheatsheet_btn:hover {
  color: black;
  border-color: black;
  background: #d9d5c5;
}

/* png 색 바꾸기
-webkit-filter: opacity(0.5) drop-shadow(0 0 0 black);
filter: opacity(0.5) drop-shadow(0 0 0 black);
*/
