@use "./../../common/colors";
@use "./../../common/sizes";
@use "./../../common/mixins";

.container {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: colors.$mainColor;

  & .section {
    display: flex;
    justify-content: space-evenly;
    width: sizes.$sectionWidth;
    height: 70%;
  }
}

@include mixins.tablet {
  .container .section {
    display: block;
  }
}