@value sectionWidth from '../../common/sizes.css';
@value mainColor from '../../common/colors.css';

.container {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: mainColor;
}

.section {
  display: flex;
  justify-content: space-evenly;
  width: sectionWidth;
  height: 70%;
}

@media screen and (max-width: 1024px) {
  .section {
    display: block;
  }
}
