@value sectionWidth, footerHeight from '../../common/sizes.css';

footer {
  flex-shrink: 0;
  display: flex;
  height: footerHeight;
  border-top: 1px solid #f6f8fa;
  background-color: #24292f;
  color: white;
}

.footer_container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: sectionWidth;
  height: 100%;
}

.link_btn > svg {
  width: 32px;
  fill: gray;
}

.link_btn:hover > svg {
  fill: white;
}