footer {
  display: flex;
  height: 62px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #24292f;
  color: white;
}

.footer_container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.link_btn > img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 gray);
}
