@use "./styles/common/mixins";
@use "./styles/common/colors";
@use "./styles/common/sizes";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;

  & body {
    @extend html;
    @include mixins.scrollbar-props;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Arrow toggle
.arrow {
  margin-left: sizes.$odd-space-3x;
  position: relative;
  height: 11px;
  width: 10px;

  &::before {
    @include mixins.arrow-close(-3px, -45deg);
  }

  &::after {
    @include mixins.arrow-close(3px, 45deg);
  }
}

.open {
  & #inner_btns_container {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
  }

  & .arrow::before {
    @include mixins.arrow-open(-3px, 45deg);
  }

  & .arrow::after {
    @include mixins.arrow-open(3px, -45deg);
  }
}

// Dark mode
section.dark {
  background: colors.$main-dark-color;
  color: colors.$white-color;

  & #outputbox,
  & #inputbox {
    background: colors.$sub-dark-color;
    color: colors.$white-color;
  }

  & #outputbox blockquote {
    color: colors.$white-color;
  }

  & .inner_btn {
    background: colors.$sub-dark-color;
    color: colors.$white-color;
  
    &:hover {
      background: colors.$btn-hover-color;
      color: colors.$black-color;
    }
  }

  & .sheet_quote {
    color: colors.$white-color;
  }

  & #eraser {
    background: colors.$sub-dark-color;
  
    &:hover {
      fill: colors.$white-color;
    }
  }
}

section.dark div.buttons_container {
  & > .button {
    background: colors.$sub-dark-color;
    color: colors.$white-color;
    fill: colors.$white-color;

    &:hover {
      background: colors.$btn-hover-color;
      color: colors.$black-color;
    }
  }

  & > #dropdown_container:hover {
    background: colors.$sub-dark-color;
    color: colors.$white-color;
  }

  & div.arrow::after,
  div.arrow::before {
    background: colors.$white-color;
  }
}

section.dark div.cheatsheet_container {
  background: colors.$main-dark-color;
  color: colors.$white-color;

  & th, td {
    background: colors.$sub-dark-color;
    color: colors.$white-color;
  }

  & td pre {
    background: colors.$code-bg-color;
  }
}