@use "./common/mixins";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;

  & body {
    @extend html;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Scroll bar
body {
  &::-webkit-scrollbar {
    @include mixins.scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    @include mixins.scrollbar-thumb;
  }

  &::-webkit-scrollbar-thumb:hover {
    @include mixins.scrollbar-thumb-hover;
  }

  &::-webkit-scrollbar-track {
    @include mixins.scrollbar-track;
  }
}

// Arrow toggle
.arrow {
  margin-left: 15px;
  position: relative;
  height: 11px;
  width: 10px;

  &::before {
    @include mixins.arrow-close(-3px, -45deg);
  }

  &::after {
    @include mixins.arrow-close(3px, 45deg);
  }
}

.open {
  & #inner_btns_container {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
  }

  & .arrow::before {
    @include mixins.arrow-open(-3px, 45deg);
  }

  & .arrow::after {
    @include mixins.arrow-open(3px, -45deg);
  }
}

// Dark mode
section.dark {
  background: #24292f;
  color: white;

  & #output,
  & #inputbox {
    background: #1e1f21;
    color: white;
  }

  & #output blockquote {
    color: white;
  }

  & .inner_btn {
    background: #1e1f21;
    color: white;
  
    &:hover {
      background: #a1c1ea;
      color: black;
    }
  }

  & .sheet_quote {
    color: white;
  }

  & #eraser {
    background: #1e1f21;
  
    &:hover {
      fill: white;
    }
  }
}

section.dark div.buttons_container {
  & > .button {
    background: #1e1f21;
    color: white;
    fill: white;

    &:hover {
      background: #a1c1ea;
      color: black;
    }
  }

  & > #dropdown_container:hover {
    background: #1e1f21;
    color: white;
  }

  & div.arrow::after,
  div.arrow::before {
    background: white;
  }
}

section.dark div.cheatsheet_container {
  background: #24292f;
  color: white;

  & th, td {
    background: #1e1f21;
    color: white;
  }

  & td pre {
    background: rgba(175, 184, 193, 0.2);
  }
}