* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* arrow toggle */

.arrow {
  margin-left: 15px;
  position: relative;
  height: 11px;
  width: 10px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background: #394a6d;
}
.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background: #394a6d;
}
.open .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}
.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
}

.open #inner_btns_container {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

/* button */

#dropdownBtn {
  padding: 0;
}

/* dark toggle test */

.dark-mode-button {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 30px;
  transform: translateY(10px);
}

.dark-mode-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode-button .onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12px;
  background-color: #f6f8fa;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dark-mode-button .onoff-switch:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  top: -5px;
  background-image: url("../public/images/sun.png");
  background-size: 15px;
  background-position: center;
  background-color: #fff;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.4s;
  border-radius: 20px;
}

.dark-mode-button input:checked + .onoff-switch {
  background-color: #007ff4;
  box-shadow: inset 1px 1px 2px #222;
}

.dark-mode-button input:checked + .onoff-switch:before {
  background-image: url("../public/images/moon.png");
  background-color: white;
  box-shadow: none;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* dark mode */

section.dark {
  background: #24292f;
  color: white;
}

section.dark #output,
section.dark #inputbox {
  background: #1e1f21;
  color: white;
}

section.dark div.cheatsheet_container {
  background: #24292f;
  color: white;
}

section.dark div.cheatsheet_container th,
section.dark div.cheatsheet_container td {
  background: #1e1f21;
  color: white;
}

section.dark div.cheatsheet_container td pre {
  background: rgba(175, 184, 193, 0.2);
}

section.dark div.buttons_container > .button {
  background: #1e1f21;
  color: white;
  fill: white;
}

section.dark div.buttons_container div.arrow::after,
section.dark div.buttons_container div.arrow::before {
  background: white;
}

section.dark .inner_btn {
  background: #1e1f21;
  color: white;
}

/* ?? */

/* .active i {
  transform: rotate(0);
  transform: translate(0, -6px);
}

.active i::before {
  transform: rotate(-45deg);
}

.active i::after {
  transform: rotate(45deg);
} */
