$headerHeight: 62px;
$footerHeight: 62px;
$sectionWidth: 90%;
$btnImageSize: 32px;
$btnBorderRadius: 5px;

$tabletSize: 1024px;

/* input, output box */

$boxSize: 45%;
$boxBorderRadius: 3px;
$boxBorder: 1px solid rgba(0, 0, 0, 0.4);
$boxHeight: 55vh;
$boxMaxWidth: 600px;
$boxMinWidth: 450px;
$boxMargin: 0 auto 50px auto;

/* scroll Bar */

$scrollBarSize: 8px;
$scrollBorderRadius: 10px;

$darkmodeBarMove: translateX(16px);
